ul{
    list-style: none;
    :hover {
        text-decoration: underline;
    }
}

ul li {
    display: inline-block;
    margin-left: 4rem;
}

.lien_nav {
    text-decoration: none;
    color: #fc4939;
    font-size: 1.3rem;
}