@import '../../styles/main.scss';

.galerie{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;

  .galerie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aqua;
    margin: auto;
    padding: 30px;
    gap: 20px; // Espacement
  
    .logement-card{
      width: 30%;
      height: 300px;
      border-radius: 8px;
      border: 1px solid black;
      overflow: hidden; // Pour éviter que l'image ne déborde
  
      .logement-image{
        width: 100%; // Remplit la largeur de la card
        height: 100%; // Hauteur fixe
        object-fit: cover; // Redimensionne proprement
        display: block; // Évite les espaces parasites
        filter: brightness(85%);
      }
  
      h3{
        position: relative;
        bottom: 3em;
        margin-left: 10px;
        color: $color-primary;
      }
    }
  
  }
}