@import '../../styles/main.scss';

.galerie{
  display: flex;
  align-items: center;
  justify-content: center;

  .galerie-container {
    @include flexCenter;
    flex-wrap: wrap;
    background-color: $color-tertiary;
    border-radius: 20px 20px 0 0;
    padding: 40px 0;
    gap: 40px;
  
    .logement-card{
      width: 400px;
      height: 400px;
      border-radius: 12px;
      overflow: hidden; // Pour éviter que l'image ne déborde
  
      .logement-image{
        width: 100%; // Remplit la largeur de la card
        height: 100%; // Hauteur fixe
        object-fit: cover; // Redimensionne proprement
        display: block; // Évite les espaces parasites
        filter: brightness(85%);
      }
  
      h3{
        position: relative;
        bottom: 3em;
        margin-left: 10px;
        color: $color-primary;
      }
    }
  
  }
}