@import '../../styles/main.scss';


.galerie{
    @include flexBox(row, center, center);
    flex-wrap: wrap;
    background-color: $color-tertiary;
    border-radius: 20px 20px 0 0;
    padding: 40px 0;
    gap: 40px;
    
    .logement-card{
      width: 400px;
      height: 400px;
      border-radius: 12px;
      overflow: hidden;
      
      @media screen and (max-width: 1024px){
        width: 300px;
        height: 300px;
      }
      
      @media screen and (max-width: 650px){
        width: 100%;
        height: 250px;
      }
  }
}