@import '../../styles/main.scss';


.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    &_button {
        width: 100%;
        height: 45px;
        background-color: $color-secondary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px;
        margin-top: 20px;
        cursor: pointer;
    }
    &_content {
        width: 100%;
        padding: 0.8rem;
        border-radius: 0 0 5px 5px;
        background-color: $color-tertiary;
    }
    &_arrow {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
        }
        &_arrow--open {
            transform: rotate(180deg);
    }
    
}

.logement_collapse{
    display: flex;
    gap: 10rem;
    &_item{
        flex: 1;
        
        .collapse {
            width: 100%;
        }
    }
    @media screen and (max-width: 650px){
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
        &_item{
            width: 100%;
        }    
    }
}