@import '../../styles/main.scss';


.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &_button {
        width: 85%;
        height: 45px;
        background-color: $color-secondary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px;
        margin-top: 20px;
        cursor: pointer;
    }
    &_content {
        width: 85%;
        padding: 4px 10px;
        border-radius: 0 0 5px 5px;
        background-color: $color-tertiary;
    }
    &_arrow {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
        }
        &_arrow--open {
            transform: rotate(180deg);
    }
    
}