@import '../../styles/main.scss';


.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &_button {
        width: 100%;
        background-color: $color-secondary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px;
        margin-top: 20px
    }
    &_content {
        width: 100%;
        padding: 4px 10px;
    }
}