@import '../../styles/main.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
.header__logo {
    width: 150px;
    height: auto;
}
*/