.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 8rem;
    width: 90%;
    color: white;
    position: fixed;
    bottom: 0;
    margin-bottom: 0; 
    left: 50%;          /* le centre du footer = centre de la page */
    transform: translateX(-50%);
}

.logo {
    width: 5rem;
    color: white;
    text-decoration-color: white;
}
