@import '../../styles/main.scss';

.footer {
    @include flexBox(column, center, center);
    background-color: black;
    height: 8rem;
    width: 100%;
    color: white;
    bottom: 0;
    gap: 1rem;
    margin-bottom: 0; 
    margin-top: auto;

    .logo {
    width: 5rem;
    color: white;
    text-decoration-color: white;
}
}


