@import '../../styles/main.scss';

.banner {
    @include flexCenter;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;

    &__image {
        width: 100%;
        height: 10em;
        border-radius: 15px;
        object-fit: cover;
        filter: brightness(75%);
    }

    &__title {
        margin-top: 10px;
        font-size: 24px;
        color: $color-primary;
        position: absolute;
    }
}
