@import '../../styles/main.scss';

.banner {
    @include flexBox;
    margin-bottom: 1rem;

    &__image {
        width: 100%;
        height: 13em;
        border-radius: 20px;
        object-fit: cover;
        filter: brightness(80%);
    }

    &__title {
        margin-top: 10px;
        font-size: 3em;
        color: $color-primary;
        position: absolute;

        @media screen and (max-width: 650px){
                 font-size: 1.5rem;
                }
    }
}
