* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body, html {
  height: 100%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: 500px){
        padding-top: 20px;
    }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}